<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Cargos</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>

                        <li class="breadcrumb-item active">Cargos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <h2>Cargos</h2>
                        </div>
                        <div class="body">
                            <form class="register-form m-4">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width"
                                                        appearance="fill">
                                            <mat-label>Cargos</mat-label>
                                            <mat-select [formControl]="roleForm">
                                                <mat-option *ngFor="let role of roles"
                                                            [value]="role">
                                                    {{role.description}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>trending_up</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width"
                                                        appearance="fill">
                                            <mat-label>Categorias</mat-label>
                                            <mat-select [formControl]="categoriesForm"
                                                        multiple>
                                                <mat-option *ngFor="let category of categories"
                                                            [value]="category.id"
                                                            (click)="onClickSearchType()">
                                                    {{category.description}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>trending_up</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width"
                                                        appearance="fill">
                                            <mat-label>Tipos</mat-label>
                                            <mat-select [formControl]="typesForm"
                                                        multiple>
                                                <mat-option *ngFor="let type of types"
                                                            [value]="type.id"
                                                            (click)="onClickSearchAttributes()">
                                                    {{type.description}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>trending_up</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width"
                                                        appearance="fill">
                                            <mat-label>Atributos</mat-label>
                                            <mat-select [formControl]="attributesForm"
                                                        multiple>
                                                <mat-option *ngFor="let attribute of attributes"
                                                            [value]="attribute.id"
                                                            [disabled]="isOptionDisabled(attribute.id)">
                                                    {{attribute.description}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>trending_up</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                                        <button style="width: 100%; margin-top: 5%;"
                                                mat-raised-button
                                                color="primary"
                                                [disabled]="!isValid()"
                                                (click)="onClickSearch()">Buscar <mat-icon>search</mat-icon></button>
                                    </div>


                                </div>
                                <mat-tab-group>
                                    <mat-tab label="Todos os registros">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="header">
                                                        </div>
                                                        <div class="body">
                                                            <div class="recent-report__chart">
                                                                <canvas baseChart
                                                                        class="chart"
                                                                        [data]="polarAreaChartData"
                                                                        [options]="polarChartOptions"
                                                                        [labels]="polarAreaChartLabels"
                                                                        [legend]="polarAreaLegend"
                                                                        [chartType]="polarAreaChartType"
                                                                        [colors]="ploarChartColors"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>
                                    <mat-tab label="Últimos 5 registros">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="header">
                                                        </div>
                                                        <div class="body">
                                                            <div class="recent-report__chart">
                                                                <canvas baseChart
                                                                        class="chart"
                                                                        [data]="polarAreaChartData2"
                                                                        [options]="polarChartOptions"
                                                                        [labels]="polarAreaChartLabels"
                                                                        [legend]="polarAreaLegend"
                                                                        [chartType]="polarAreaChartType"
                                                                        [colors]="ploarChartColors"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>
                                    <mat-tab label="Últimos 10 registros">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="header">
                                                        </div>
                                                        <div class="body">
                                                            <div class="recent-report__chart">
                                                                <canvas baseChart
                                                                        class="chart"
                                                                        [data]="polarAreaChartData3"
                                                                        [options]="polarChartOptions"
                                                                        [labels]="polarAreaChartLabels"
                                                                        [legend]="polarAreaLegend"
                                                                        [chartType]="polarAreaChartType"
                                                                        [colors]="ploarChartColors"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>

                                </mat-tab-group>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="card">
                            <div class="header">
                                <h2>Colaboradores</h2>
                            </div>
                            <div class="body">
                                <mat-table #table
                                           [dataSource]="dataSource"
                                           matSort
                                           class="mat-cell">

                                    <ng-container matColumnDef="pathPhoto">
                                        <mat-header-cell *matHeaderCellDef
                                                         mat-sort-header
                                                         style="max-width: 20%;">
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                                  style="max-width: 20%;"> <img styles="padding: 5px"
                                                 alt="image"
                                                 class="msr-3 rounded-circle"
                                                 width="40"
                                                 src="{{row.photoUrl}}"></mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="firstName">
                                        <mat-header-cell *matHeaderCellDef
                                                         mat-sort-header>Nome
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.firstName}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef
                                                         mat-sort-header>Email

                                        </mat-header-cell>
                                        <mat-cell style="min-width: 10%;"
                                                  *matCellDef="let row"> {{row.email}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="details">
                                        <mat-header-cell class="psl-3 tbl-col-width-per-10"
                                                         *matHeaderCellDef
                                                         style="min-width: 15%;">
                                            Detalhes
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i=index;"
                                                  class="psl-3 tbl-col-width-per-10"
                                                  style="min-width: 15%;">
                                            <button mat-mini-fab
                                                    color="primary"
                                                    (click)="onClickRoute(row)">
                                                <mat-icon class="col-white">info_outline
                                                </mat-icon>
                                            </button>

                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                                             [style.cursor]="'pointer'"
                                             matRipple>
                                    </mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>