<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Colaboradores</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#"
                 onClick="return false;"
                 [routerLink]="['/employee']">Colaboradores</a>
            </li>
            <li class="breadcrumb-item active">Detalhes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div>
                      <div class="card border-apply">
                        <div class="m-b-20">
                          <div class="contact-grid">
                            <div class="profile-header bg-dark header-employee">
                            </div>
                            <img src="{{ employeeDisplay.photoUrl }}"
                                 class="user-img imagem-employee"
                                 alt="">
                            <div class="dados-apresentacao">
                              <p class="dados-apresentacao-nome">
                                {{ employeeDisplay.firstName }}
                              </p>
                              <p class="dados-apresentacao-titulo">
                                {{ employeeDisplay.role }}
                              </p>
                              <p class="dados-apresentacao-titulo">
                                {{ employeeDisplay.email }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card border-apply">

                        <mat-tab-group>
                          <mat-tab label="Atributos">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">
                                <div class="row">
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="card filtro-atributo-detalhes-employee">

                                      <mat-form-field>
                                        <mat-label>Attributes</mat-label>
                                        <mat-select [formControl]="attributeCategories"
                                                    (selectionChange)="filterSelect($event)"
                                                    multiple>
                                          <mat-option *ngFor="let attribute of listaEmployeeAttributeDiff"
                                                      [value]="attribute">{{ attribute }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>

                                    </div>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="card add filtro-atributo-detalhes-employee">

                                      <button mat-mini-fab
                                              color="success"
                                              class="add"
                                              (click)="saveNewScore(modalNewScore)">
                                        <mat-icon class="col-white">add
                                        </mat-icon>

                                      </button>

                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card conteudo-detalhes-employee">

                                      <ngx-datatable #table2
                                                     class="material"
                                                     [rows]="tb2data"
                                                     [columns]="tb2columns"
                                                     [sortType]="'multi'"
                                                     [columnMode]="'force'"
                                                     [headerHeight]="50"
                                                     [footerHeight]="50"
                                                     [rowHeight]="'auto'"
                                                     [limit]="10">
                                      </ngx-datatable>

                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Estatísticas">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">
                                <div class="body">

                                  <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                      <div class="card filtro-atributo-detalhes-employee">
                                        <mat-form-field>
                                          <mat-label>Attributes</mat-label>
                                          <mat-select [formControl]="attributeCategoriesCharts"
                                                      (selectionChange)="filterSelectChart($event)">
                                            <mat-option *ngFor="let attribute of listaEmployeeAttributeDiff"
                                                        [value]="attribute">{{ attribute }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>


                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <h5 *ngIf="attributeSelected != null">Scores de {{ attributeSelected }}</h5>
                                      <div echarts
                                           *ngIf="attributeSelected != null"
                                           [options]="chart1"
                                           class="echart-height"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


                                    </div>
                                  </div>
                                </div>

                              </div>


                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modalNewScore>
  <div mat-dialog-title>
    <h5>New Score</h5>
  </div>

  <div mat-dialog-content>
    <form class=""
          [formGroup]="newScoreForm"
          id="newScoreForm"
          (ngSubmit)="onSubmit()">

      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field appearance="fill"
                          class="width-filter">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="controlNewScoreCategories"
                        (selectionChange)="filterSelectedCategoryNewScore($event)"
                        required>
              <mat-option *ngFor="let attributeCategory of newScoreAttributeCategories"
                          [value]="attributeCategory">
                {{ attributeCategory.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field appearance="fill"
                          class="width-filter">
            <mat-label>Types</mat-label>
            <mat-select formControlName="controlNewScoreTypes"
                        (selectionChange)="filterSelectedTypeNewScore($event)"
                        required>
              <mat-option *ngFor="let attributeType of newScoreAttributeTypes"
                          [value]="attributeType">
                {{ attributeType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field appearance="fill"
                          class="width-filter">
            <mat-label>Attributes</mat-label>
            <mat-select formControlName="controlNewScoreAttributes"
                        (selectionChange)="filterSelectedAttributeNewScore($event)"
                        required>
              <mat-option *ngFor="let attribute of newScoreAttributes"
                          [value]="attribute">
                {{ attribute.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field appearance="fill"
                          class="width-filter">
            <mat-label>Score</mat-label>
            <mat-select formControlName="controlNewScoreValue"
                        required>
              <mat-option *ngFor="let value of newScoreValues"
                          [value]="value">
                {{ value.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="col-md-12">
          <mat-form-field appearance="fill"
                          class="width-filter">
            <mat-label>Score</mat-label>
            <input type="number"
                   matInput
                   min="1"
                   max="10"
                   name="score"
                   id="score"
                   formControlName="newScoreValue"
                   required>
          </mat-form-field>
        </div>
      </div>
 -->
    </form>
  </div>

  <div mat-dialog-actions
       class="position-actions">
    <button mat-raised-button
            class="mat-button-cancel"
            [mat-dialog-close]="false">Cancel</button>

    <button mat-raised-button
            class="mat-success"
            color="primary"
            type="submit"
            form="newScoreForm"
            cdkFocusInitial>Save</button>
  </div>

</ng-template>