<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Colaboradores</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#"
                 onClick="return false;"
                 [routerLink]="['/employee']">Colaboradores</a>
            </li>
            <li class="breadcrumb-item active">Detalhes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div>
                      <div class="card border-apply">
                        <div class="m-b-20">
                          <div class="contact-grid">
                            <div class="profile-header bg-dark header-employee">
                            </div>
                            <img src="assets/images/user/usrbig1.jpg"
                                 class="user-img imagem-employee"
                                 alt="">
                            <div class="dados-apresentacao">
                              <p class="dados-apresentacao-nome">
                                Mattheus Soares Santos, 25 anos
                              </p>
                              <p class="dados-apresentacao-titulo">
                                Analista Júnior
                              </p>
                              <p class="dados-apresentacao-titulo">
                                Juiz de Fora, MG
                              </p>
                            </div>
                            <!-- <div>
                              <span class="phone">
                                <i class="material-icons">phone</i>264-625-2583</span>
                            </div> -->

                          </div>
                        </div>
                      </div>

                      <div class="card border-apply">
                        <mat-tab-group>
                          <mat-tab label="Atributos">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">

                                <div class="row">
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="card conteudo-detalhes-employee">

                                      <mat-form-field>
                                        <mat-label>Categorias</mat-label>
                                        <mat-select [formControl]="attributeCategories"
                                                    multiple>
                                          <mat-option *ngFor="let attributeCategory of attributeCategoryList"
                                                      [value]="attributeCategory">{{attributeCategory}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>

                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="card conteudo-detalhes-employee">

                                      <mat-form-field>
                                        <mat-label>Tipos</mat-label>
                                        <mat-select [formControl]="attributeTypes"
                                                    multiple>
                                          <mat-option *ngFor="let attributeType of attributeTypeList"
                                                      [value]="attributeType">{{attributeType}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>

                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card conteudo-detalhes-employee">
                                      
                                      <ngx-datatable #table2
                                                     class="material"
                                                     [rows]="tb2data"
                                                     [columns]="tb2columns"
                                                     [sortType]="'multi'"
                                                     [columnMode]="'force'"
                                                     [headerHeight]="50"
                                                     [footerHeight]="50"
                                                     [rowHeight]="'auto'"
                                                     [limit]="10">
                                      </ngx-datatable>

                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Conteúdo 2">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">
                                <div class="body">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <h5>Gráfico 1</h5>
                                      <div echarts
                                           [options]="pie_chart"
                                           class="echart-height"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <h5>Gráfico 2</h5>
                                      <div echarts
                                           [options]="pie_chart"
                                           class="echart-height"></div>
                                    </div>
                                  </div>
                                </div>

                              </div>


                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>