<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Colaboradores</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#"
                 onClick="return false;"
                 [routerLink]="['/employee']">Colaboradores</a>
            </li>
            <li class="breadcrumb-item active">Detalhes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div>
                      <div class="card border-apply">
                        <div class="m-b-20">
                          <div class="contact-grid">
                            <div class="profile-header bg-dark header-employee">
                              <div>Pooja Patel</div>
                              <div class="name-left">General Manager</div>
                            </div>
                            <img src="assets/images/user/usrbig1.jpg"
                                 class="user-img imagem-employee"
                                 alt="">
                            <p>
                              A-103, shyam gokul flats, Mahatma Road
                              <br />Mumbai
                            </p>
                            <div>
                              <span class="phone">
                                <i class="material-icons">phone</i>264-625-2583</span>
                            </div>


                          </div>
                        </div>
                      </div>

                      <div class="card border-apply">
                        <mat-tab-group>
                          <mat-tab label="Conteúdo 1">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">

                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card border-apply conteudo-detalhes-employee">

                                      <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="card border-apply conteudo-detalhes-employee">
                                            INFO 1
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="card border-apply conteudo-detalhes-employee">
                                            INFO 2
                                          </div>
                                        </div>
                                      </div>      

                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card border-apply conteudo-detalhes-employee">
                                      INFO 3
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card border-apply conteudo-detalhes-employee">
                                      INFO 4
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card border-apply conteudo-detalhes-employee">
                                      INFO 5
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Conteúdo 2">
                            <div class="tab-content">
                              <div class="card conteudo-detalhes-employee">
                                <div class="body">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <h5>Gráfico 1</h5>
                                      <div echarts
                                           [options]="pie_chart"
                                           class="echart-height"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <h5>Gráfico 2</h5>
                                      <div echarts
                                           [options]="pie_chart"
                                           class="echart-height"></div>
                                    </div>
                                  </div>
                                </div>

                              </div>


                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>