.empty {
    padding-top: 10px;
    text-align: center;
    font-size: 100%;

    padding-bottom: 10px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
}

.container-habs {
    max-height: 480px;
    min-height: 150px;
    overflow-y: auto;
}

.btn-delete {
    background-color: #ff4f4f;
    height: 30px !important;
    width: 30px !important;
    margin: 2px !important;
    line-height: 30px !important;
    color: #fff;
  
    // box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
    .material-icons {
      font-size: 16px !important;
    }
  
    &:hover {
      background-color: #cc2a2a;
      color: white ;
    }
  
    &:focus {
      background-color: #cc2a2a;
    }
  }
