<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Colaboradores</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main"><i class="fas fa-home"></i> Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body">
              <app-custom-table [dataSource]="dataSource"
                                [showAddButton]="showAddButton"
                                [columns]="columns">
              </app-custom-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>