<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Colaboradores</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Colaboradores</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row"
                       [formGroup]="employeeForm">
                    <div class="container-habs">
                      <div formArrayName="filters">
                        <div *ngFor="let control of filtersArray.controls; let i = index"
                             class="m-4">
                          <div [formGroupName]="i"
                               class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div style="max-height: 60px"
                                 class="row">
                              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <mat-form-field class="example-full-width"
                                                appearance="fill">
                                  <mat-label>Categoria</mat-label>
                                  <mat-select formControlName="category"
                                              required
                                              (selectionChange)="getCategorias(i)">
                                    <mat-option *ngFor="let category of categories"
                                                [value]="category.id"
                                                (click)="onClickSearchType(i)">
                                      {{category.description}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-icon matSuffix>trending_up</mat-icon>
                                </mat-form-field>
                              </div>
                              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <mat-form-field class="example-full-width"
                                                appearance="fill">
                                  <mat-label>Tipo</mat-label>
                                  <mat-select required
                                              formControlName="type">
                                    <mat-option *ngFor="let type of filtersArray.controls[i].get('typesArray').value"
                                                [value]="type.id"
                                                (click)="onClickSearchAttribute(i)">
                                      {{type?.description}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-icon matSuffix>trending_up</mat-icon>
                                </mat-form-field>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                                <mat-form-field class="example-full-width"
                                                appearance="fill">
                                  <mat-label>Atributo</mat-label>
                                  <mat-select required
                                              formControlName="attribute">
                                    <mat-option *ngFor="let att of filtersArray.controls[i].get('attributesArray').value"
                                                [value]="att.id">
                                      {{att?.description}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-icon matSuffix>trending_up</mat-icon>
                                </mat-form-field>
                              </div>
                              <div class="col-lg-3 col-md-1 col-sm-4 col-xs-4">
                                <mat-form-field class="example-full-width"
                                                appearance="fill">
                                  <mat-label>Comparador</mat-label>
                                  <mat-select required
                                              formControlName="employeeSearchComparison">
                                    <mat-option [value]=1>
                                      Menor ou Igual
                                    </mat-option>
                                    <mat-option [value]=2>
                                      Menor
                                    </mat-option>
                                    <mat-option [value]=3>
                                      Igual
                                    </mat-option>
                                    <mat-option [value]=4>
                                      Maior ou Igual
                                    </mat-option>
                                    <mat-option [value]=5>
                                      Maior
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div style="max-width: 13%"
                                   class="col-lg-2 col-md-1 col-sm-4 col-xs-4">
                                <mat-form-field class="example-full-width"
                                                appearance="fill">
                                  <mat-label>Valor</mat-label>
                                  <mat-select required
                                              formControlName="value">
                                    <mat-option [value]=0>
                                      0
                                    </mat-option>
                                    <mat-option [value]=1>
                                      1
                                    </mat-option>
                                    <mat-option [value]=2>
                                      2
                                    </mat-option>
                                    <mat-option [value]=3>
                                      3
                                    </mat-option>
                                    <mat-option [value]=4>
                                      4
                                    </mat-option>
                                    <mat-option [value]=5>
                                      5
                                    </mat-option>
                                    <mat-option [value]=6>
                                      6
                                    </mat-option>
                                    <mat-option [value]=7>
                                      7
                                    </mat-option>
                                    <mat-option [value]=8>
                                      8
                                    </mat-option>
                                    <mat-option [value]=9>
                                      9
                                    </mat-option>
                                    <mat-option [value]=10>
                                      10
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <button mat-icon-button
                                      color="warn"
                                      type="button"
                                      class="btn-delete margin-button"
                                      (click)="deleteFilter(filter, i)"
                                      style="float: right; margin-top: 10px !important;">
                                <mat-icon aria-label="Delete"
                                          class="col-white">close</mat-icon>
                              </button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=row>
                      <div class="col-lg-10 col-md-10 col-sm-4 col-xs-4"> </div>
                     
                      <div style="margin-left: 4%;"
                      class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
                        <button style="width: 120px; margin-top: 1%; float: right; margin-right: 1% ;"
                                mat-raised-button
                                (click)="onClickSearchFilter()"
                                [disabled]="!filtersArray.valid"
                                color="primary">Buscar<mat-icon>search</mat-icon></button>
                      </div>
                      <div style="max-width: 4%; padding-right: 0px;" class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
                        <button mat-mini-fab
                                style="float: right;"
                                color="primary"
                                mat-raised-button
                                (click)="addFilter()"
                                type="button">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </div>




                    </div>
                  </div>
                </div>
                <div class="body">
                  <div class="table-responsive">
                    <div style="background-color: rgba(255, 255, 255, 0.979)"
                         class="materialTableHeader">
                      <div class="row">
                        <div class="col-8">
                          <ul class="header-buttons-left ml-0">
                            <li class="dropdown">
                              <h2>
                                <strong>Colaboradores</strong>
                              </h2>
                            </li>
                            <li class="dropdown m-l-20">
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                              <input placeholder="Search"
                                     type="text"
                                     #filter
                                     class="browser-default search-field"
                                     aria-label="Search box">
                            </li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="header-buttons">

                            <li>
                              <div class="icon-button-demo">
                                <button mat-raised-button
                                        (click)="onClickSearch()"
                                        color="primary">Comparar</button>
                              </div>

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <mat-table #table
                               [dataSource]="dataSource"
                               matSort
                               class="mat-cell">
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef
                                         [ngClass]="'tbl-col-width-per-6'">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [ngClass]="'tbl-checkbox'"
                                        [disabled]="!isValidSelect()"
                                        color="primary">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                                  [ngClass]="'tbl-col-width-per-6'">
                          <mat-checkbox (click)="$event.stopPropagation(); checkSelection()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)"
                                        [ngClass]="'tbl-checkbox'"
                                        [disabled]="isValidSelect()">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <!-- ID Column -->
                      <ng-container matColumnDef="pathPhoto">
                        <mat-header-cell *matHeaderCellDef
                                         mat-sort-header
                                         style="max-width: 20%;">
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                                  style="max-width: 20%;"> <img styles="padding: 5px"
                               alt="image"
                               class="msr-3 rounded-circle"
                               width="40"
                               src="{{row.photoUrl}}"></mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef
                                         mat-sort-header>Nome
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.firstName}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef
                                         mat-sort-header>Email
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.email}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="psl-3 tbl-col-width-per-10"
                                         *matHeaderCellDef>Informações
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;"
                                  class="psl-3 tbl-col-width-per-10">
                          <button mat-mini-fab
                                  color="primary"
                                  (click)="onClickRoute(row)">
                            <mat-icon class="col-white">info_outline
                            </mat-icon>
                          </button>

                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                    </mat-table>
                    <div class="empty"
                         [style.display]="dataSource.data.length == 0 ? '' : 'none'">
                      Não existem dados para serem exibidos
                    </div>
                    <mat-paginator #paginator
                                   [length]="dataSource.data.length"
                                   [pageIndex]="0"
                                   [pageSize]="10"
                                   [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>