.teste{
    color: green !important;
}

.header {
    padding: 10px 20px;
    -webkit-box-align: center;
    align-items: center;
    border-color: #e6e9ed;
    background-color: #ebebee;
    height: 70px;
    min-width: 800px;
} 